[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
numpy = "*"
pillow = "*"
tensorflow = "*"
django-rest-framework = "*"

[dev-packages]
opencv-python = "*"
pandas = "*"

[requires]
python_version = "3.11"
